{{define "JavaScript"}}
<script>
$(document).ready(function() {
    $(".memoBtn").click(function() {
        var key = $(this).attr('data-id');
        var url = "http://" + location.host + "/view/" + key;
        window.open(url, '_blank');
    });
});
</script>
{{end}}

{{define "Title"}}
Archive
{{end}}

{{define "content"}}

<a href="/create">create</a>

<div class="panel panel-default">
  <div class="panel-heading">ArhciveMemo List</div>
  <table class="table">
  {{range .MemoList}}
  <tr> 
    <td><button style="width:100%" type="button" class="btn btn-success memoBtn" data-id="{{.Id}}">{{.Title}}</td>
  </tr>
  {{end}}
  </table>
</div>
{{end}}
